@model IEnumerable<AppUser>


<table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
        <tr>
            <th>Name</th>
            <th>Downloads</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        @if (item.PhotoContentType?.Length > 3)
                        {
                            <img src="@Url.Action("GetImage", "Home",new {userid = item.Id})" class="rounded-circle user-picture-size"></img>
                        }
                        else
                        {
                            <img src="~/images/default_image.png" class="rounded-circle user-picture-size" alt="My image" />
                        }
                        <div class="ms-3">
                            <p class="fw-bold mb-1">@item.FirstName @item.LastName</p>
                            <p class="text-muted mb-0">@item.Email</p>
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    @if (item.Torrents != null)
                    {
                        @item.Torrents.Count
                    }
                    else
                    {
                        @:0
                    }
                </td>
            </tr>
        }
    </tbody>
</table>