@model DEH1G0_SOF_2022231.Models.TorrentsViewModel

<div class="row">
    <div class="col-md-4">
        <form asp-action="SearchTorrent">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                
                

                <table class="category-checkbox">
                    <tr>
                        <td>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="@Model.Movies.IsSelected" /> @Html.DisplayNameFor(model => model.Movies.IsSelected)
                                </label>
                            </div>
                        </td>

                        <td>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="@Model.Series.IsSelected" /> @Html.DisplayNameFor(model => model.Series.IsSelected)
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="@Model.Musics.IsSelected" /> @Html.DisplayNameFor(model => model.Musics.IsSelected)
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="@Model.Games.IsSelected" /> @Html.DisplayNameFor(model => model.Games.IsSelected)
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="@Model.Programs.IsSelected" /> @Html.DisplayNameFor(model => model.Programs.IsSelected)
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="@Model.Books.IsSelected" /> @Html.DisplayNameFor(model => model.Books.IsSelected)
                                </label>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td><label>Movies:</label></td>
                        <td>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="@Model.Movies.SdHu" /> @Html.DisplayNameFor(model => model.Movies.SdHu)
                                </label>
                            </div>
                        </td>

                        <td>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="@Model.Movies.SdEn" /> @Html.DisplayNameFor(model => model.Movies.SdEn)
                                </label>
                            </div>
                        </td>


                        <td>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="@Model.Movies.DvdrHu" /> @Html.DisplayNameFor(model => model.Movies.DvdrHu)
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="@Model.Movies.DvdrEn" /> @Html.DisplayNameFor(model => model.Movies.DvdrEn)
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="@Model.Movies.Dvd9Hu" /> @Html.DisplayNameFor(model => model.Movies.Dvd9Hu)
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="@Model.Movies.Dvd9En" /> @Html.DisplayNameFor(model => model.Movies.Dvd9En)
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="@Model.Movies.HdHu" /> @Html.DisplayNameFor(model => model.Movies.HdHu)
                                </label>
                            </div>
                        </td>


                        <td>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="@Model.Movies.HdEn" /> @Html.DisplayNameFor(model => model.Movies.HdEn)
                                </label>
                            </div>
                        </td>


                    </tr>
                    <tr>
                        <td><label>Series:</label></td>
                        <td>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="@Model.Series.SdHu" /> @Html.DisplayNameFor(model => model.Series.SdHu)
                                </label>
                            </div>
                        </td>

                        <td>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="@Model.Series.SdEn" /> @Html.DisplayNameFor(model => model.Series.SdEn)
                                </label>
                            </div>
                        </td>


                        <td>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="@Model.Series.DvdrHu" /> @Html.DisplayNameFor(model => model.Series.DvdrHu)
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="@Model.Series.DvdrEn" /> @Html.DisplayNameFor(model => model.Series.DvdrEn)
                                </label>
                            </div>
                        </td>


                        <td>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="@Model.Series.HdHu" /> @Html.DisplayNameFor(model => model.Series.HdHu)
                                </label>
                            </div>
                        </td>


                        <td>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="@Model.Series.HdEn" /> @Html.DisplayNameFor(model => model.Series.HdEn)
                                </label>
                            </div>
                        </td>


                    </tr>
                    <tr>
                        <td><label>Musics:</label></td>
                        <td>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="@Model.Musics.Mp3Hu" /> @Html.DisplayNameFor(model => model.Musics.Mp3Hu)
                                </label>
                            </div>
                        </td>

                        <td>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="@Model.Musics.Mp3En" /> @Html.DisplayNameFor(model => model.Musics.Mp3En)
                                </label>
                            </div>
                        </td>


                        <td>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="@Model.Musics.LosslessHu" /> @Html.DisplayNameFor(model => model.Musics.LosslessHu)
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="@Model.Musics.LosslessEn" /> @Html.DisplayNameFor(model => model.Musics.LosslessEn)
                                </label>
                            </div>
                        </td>


                        <td>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="@Model.Musics.Clip" /> @Html.DisplayNameFor(model => model.Musics.Clip)
                                </label>
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <td><label>Games:</label></td>
                        <td>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="@Model.Games.Iso" /> @Html.DisplayNameFor(model => model.Games.Iso)
                                </label>
                            </div>
                        </td>

                        <td>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="@Model.Games.Rip" /> @Html.DisplayNameFor(model => model.Games.Rip)
                                </label>
                            </div>
                        </td>


                        <td>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="@Model.Games.Console" /> @Html.DisplayNameFor(model => model.Games.Console)
                                </label>
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <td><label>Programs:</label></td>
                        <td>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="@Model.Programs.Iso" /> @Html.DisplayNameFor(model => model.Programs.Iso)
                                </label>
                            </div>
                        </td>

                        <td>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="@Model.Programs.Rip" /> @Html.DisplayNameFor(model => model.Programs.Rip)
                                </label>
                            </div>
                        </td>


                        <td>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="@Model.Programs.Mobile" /> @Html.DisplayNameFor(model => model.Programs.Mobile)
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><label>Books:</label></td>

                        <td>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="@Model.Books.EBookHu" /> @Html.DisplayNameFor(model => model.Books.EBookHu)
                                </label>
                            </div>
                        </td>

                        <td>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="@Model.Books.EBookEn" /> @Html.DisplayNameFor(model => model.Books.EBookEn)
                                </label>
                            </div>
                        </td>

                    </tr>
                    
                </table>
                <label asp-for="SearchText" class="control-label"></label>
                <input asp-for="SearchText" class="form-control" />
                <span asp-validation-for="SearchText" class="text-danger"></span>
                @if (Model.Torrents?.Count > 0)
                {
                    @for (int i = 0; i < Model.Torrents.Count; i++)
                    {
                        @Html.HiddenFor(model => Model.Torrents[i])
                        @Html.HiddenFor(model => Model.Torrents[i].NcoreId)
                        @Html.HiddenFor(model => Model.Torrents[i].Name)
                        @Html.HiddenFor(model => Model.Torrents[i].ImageUrl)
                        @Html.HiddenFor(model => Model.Torrents[i].Size)
                        @Html.HiddenFor(model => Model.Torrents[i].Downloads)
                        @Html.HiddenFor(model => Model.Torrents[i].Seeders)
                        @Html.HiddenFor(model => Model.Torrents[i].Leechers)
                    }
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@if (Model.Torrents?.Count > 0)
{
    <div>
        <table class="torrent-table">
            <th>
                Name
            </th>
            <th>Created</th>
            <th>Size</th>
            <th>Downloads</th>
            <th>Seeders</th>
            <th>Leechers</th>
            @foreach (var item in Model.Torrents)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.NcoreId</td>
                    <td>@item.Size</td>
                    <td>@item.Downloads</td>
                    <td>@item.Seeders</td>
                    <td>@item.Leechers</td>
                    <td><a href="/Torrents/DownloadTorrent?id=@item.NcoreId&name=@item.Name.Replace(" ","_")" class="btn btn-primary">Download</a></td>
                </tr>
            }
        </table>
    </div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}