@using Microsoft.AspNetCore.Identity
@model TorrentUsersViewModel
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<h2>@Model.TorrentName's Users:</h2>

<table class="table align-middle mb-0 bg-white">
  <thead class="bg-light">
      <tr>
          <th>Name</th>
          
      </tr>
  </thead>
  <tbody>
        @foreach (var item in Model.AppUsers)
        {
      <tr>
        <td>
            <div class="d-flex align-items-center">
                        @if (item.PhotoContentType?.Length > 3)
                        {
                            <img src="@Url.Action("GetImage", "Home",new {userid = item.Id})" class="rounded-circle user-picture-size"></img>
                        }
                        else
                        {
                                            <img src="~/images/default_image.png" class="rounded-circle user-picture-size" alt="My image" />
                        }
                    <div class="ms-3">
                    <p class="fw-bold mb-1">@item.FirstName @item.LastName</p>
                    <p class="text-muted mb-0">@item.Email</p>
                </div>
            </div>
        </td>
      </tr>
      }
  </tbody>
 </table>